/"Assets/Plugins/TextMesh Pro/Examples & Extras/"
*.user
*.csproj
*.sln
*.DotSettings*
.vsconfig
.vs/

/Assets/StreamingAssets/*

UserSettings/
obj/
Builds/
Library/
Logs/
Temp/

Upgrade.log
/*.jpeg
/*.jpg
/json1.json


/Packages/**
!/Packages/manifest.json

/Data
/Assets/SreamingResources/GoogleVisionAPIKey.txt
/UpgradeLog.hml

/Assets/StreamingAssetsFolder

